* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: #ffe8b7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 20px 0px; }
  header a img {
    width: 125px;
    height: 125px; }

main {
  width: 700px;
  height: 900px;
  background-color: #ffaa60; }

footer {
  background-color: #ffe8b7;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  footer a {
    color: black; }
