* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: wheat;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  header a img {
    width: 125px;
    height: 125px; }
