@mixin flex ($direction, $justify, $align) {
display: flex;
flex-direction: $direction;
justify-content: $justify;
align-items: $align;
}

@mixin flexbetween () {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

